@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Silkscreen", sans-serif;
}

body {
    background: rgb(49, 48, 47);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    background: rgb(49, 48, 47);
    position: relative;
    margin-bottom: 20px;
}

.naam{
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: #00ff00;
    text-shadow: 
    0 0 5px #00ff00, 
    0 0 10px #00ff00, 
    0 0 15px #00ff00;
}

body{
    background: rgb(49, 48, 47);
}

.naam:hover {
    text-decoration: none;
    color: red;
    text-shadow: 
    0 0 5px red, 
    0 0 10px red, 
    0 0 15px red;
}